%h1 Listing products

%table.table
  %tr
    %th Title
    %th Description            
    %th Price
    %th Category
    %th Show
    %th Edit
    %th Destroy

  - products.each do |product|
    %tr
      %td= product.title
      %td= product.description      
      %td= product.price
      %td= product.category.name
      %td
        = link_to category_product_path(product.category, product) do 
          %span.glyphicon.glyphicon-search
          
      %td
        = link_to edit_category_product_path(product.category, product) do
          %span.glyphicon.glyphicon-wrench
      %td
        = link_to category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' } do
          %span.glyphicon.glyphicon-remove

%br
