!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'application', "data-turbolinks-track" => true 
    = csrf_meta_tags 

  %body

    
    .container
      .row
        .col-md-1
        
        .col-md-10
          .middle-outside
            .header-img
              %img.logo-img{:src => image_path("man-reading.jpg")}
              / %img.logo-img{:alt => "Young Man Reading Book", :border => "0", :src => "http://thumbs.dreamstime.com/x/young-man-reading-book-portrait-over-retro-background-36367242.jpg"}
            .header-div
              = render 'layouts/header'

            .middle
              / %p#error= flash[:error]
              / %p.notice= notice
              %p.notice= alert 
              = yield
              %br
              %br
              %br
              %br
              %br
              %h4.centered
                %br
                Lastly added:
              -@last_added.each do |last_added_product|
                .col-md-6
                  .jumbotron                    
                    %b=last_added_product.title
                    %br=last_added_product.description
                    %br
                      Average rating:
                      =last_added_product.average_rating

                                  
            %div{:style => "background-color: rgba(100,100,100,0.4); position: absolute; right: 10px; bottom:10px; "}
              .small= params
              -if user_signed_in?
                .small= current_user.id
            %br
            %br

            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
            %br
        .col-md-1
      .col-md-1
      .col-md-10
        .justified 
          %br
          &nbsp &nbsp &nbsp &nbsp Lorem ipsum &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp vertitus &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp habarentum &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp aquas &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp Lorem &nbsp &nbsp &nbsp &nbsp | &nbsp &nbsp &nbsp &nbsp ipsum vertitus &nbsp &nbsp &nbsp &nbsp 
      .col-md-1
         
      %br
      %br
      %br
      %br   
      %br
  .bottomer    
    %br
    %br
    %br
    .centered
      Lorem ipsum vertitus habarentum aquas. Lorem ipsum vertitus habarentum aquas. Lorem ipsum vertitus habarentum aquas
    
    %br
    %br

   

